<h1>Ask the Coach</h1>

<form action="/answer" class='ask'>
  <label for="question"></label>
  <input type="text" id="question" name="query" placeholder="Ask anything?">
  <input type="submit" value="Go on!" class='btn'>
</form>
